@import "tailwindcss";

:root {
  --accent: #4c2dff;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-scroll-left {
    animation: scroll-left 10s linear infinite;
  }

  .animate-scroll-right {
    animation: scroll-right 10s linear infinite;
  }

  @keyframes scroll-left {
    0%   { transform: translateX(-25%); }
    50%  { transform: translateX(25%); }
    100% { transform: translateX(-25%); }
  }

  @keyframes scroll-right {
    0%   { transform: translateX(25%); }
    50%  { transform: translateX(-25%); }
    100% { transform: translateX(25%); }
  }
}

